<div style="text-align:center; background-color:#800080; padding:10px; border-radius:5px;">
    <h2 style="color:#FFF;">Accenture Virtual Internship - Data Cleaning - Task 2</h2>
</div>

In [1]:
import pandas as pd
import numpy as np

In [2]:
content = pd.read_csv('Content.csv')
reactions = pd.read_csv('Reactions.csv')
reaction_type = pd.read_csv('ReactionTypes.csv')

Let us go by each dataframe and perform cleaning.

<div style="text-align:center; background-color:#FFA500; padding:10px; border-radius:5px;">
    <h2 style="color:#FFF;">Content Data</h2>
</div>

In [3]:
content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

- It can be observed that we do not need columns like `URL`, `User ID` to the post and `Unnamed` column as it is just a serial number.
- We would use `Content ID` to merge tables later on.
- We will drop these columns.

In [4]:
content.drop(columns=['Unnamed: 0', 'URL', 'User ID'], axis = 1, inplace=True)

In [5]:
# content.head()  -- Reconfirming changes

In [6]:
content.isna().sum()

Content ID    0
Type          0
Category      0
dtype: int64

In [7]:
content.duplicated().sum()

0

In [8]:
content['Category'].value_counts()

technology           71
animals              67
travel               67
culture              63
science              63
fitness              61
food                 61
healthy eating       61
cooking              60
soccer               58
tennis               58
education            57
dogs                 56
studying             55
veganism             48
public speaking      48
Fitness               5
Animals               4
Science               4
"soccer"              3
"culture"             3
Soccer                3
"dogs"                2
Education             2
Studying              2
Travel                2
Food                  2
"veganism"            1
"public speaking"     1
Public Speaking       1
"technology"          1
"cooking"             1
Healthy Eating        1
"studying"            1
"food"                1
Culture               1
"tennis"              1
Technology            1
"animals"             1
Veganism              1
"science"             1
Name: Category, dtype: int64

- There are duplicates in the categories in the form of same categories being double quoted.
- We would simply replcae double quotes with empty spaces.

In [9]:
content['Category'] = content['Category'].str.replace('"', '')

- Now, it looks fine.
- Therefore, there are no missing or duplicate values in the dataframe.

Thus, `content` data is cleaned.

<div style="text-align:center; background-color:#008000; padding:10px; border-radius:5px;">
    <h2 style="color:#FFF;">Reaction Type Data</h2>
</div>

In [10]:
reaction_type.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

- We do not need `Unnamed: 0` column as it just represent serial number of the rows.

In [11]:
reaction_type.drop(columns = 'Unnamed: 0', axis=1, inplace=True)

In [12]:
# reaction_type.head()   -- Confirming changes

In [13]:
reaction_type.isna().sum()

Type         0
Sentiment    0
Score        0
dtype: int64

In [14]:
reaction_type.duplicated().sum()

0

- We do not have any missing values or duplicate values in the data.

Thus, `reaction_type` is cleaned.

<div style="text-align:center; background-color:#FF1493; padding:10px; border-radius:5px;">
    <h2 style="color:#FFF;">Reactions Data</h2>
</div>

In [15]:
reactions.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

- We do not need `Unnamed: 0` and `User ID` column, so we are going to drop it.

In [16]:
reactions.drop(columns=['Unnamed: 0', 'User ID'], axis=1, inplace=True)

In [17]:
# reactions.head()    -- confirming changes

In [18]:
reactions.isna().sum()/len(reactions)*100

Content ID    0.000000
Type          3.835166
Datetime      0.000000
dtype: float64

In [19]:
reactions.duplicated().sum()

0

- There are missing values in data, but no duplicate values.
- Since, we have to find Top 5 performing categories everntually, let us drop all records with missing values.

In [20]:
reactions.dropna(inplace=True)

In [21]:
reactions.isna().sum()/len(reactions)*100

Content ID    0.0
Type          0.0
Datetime      0.0
dtype: float64

- Now, our `reactions` data is cleaned.

<div style="text-align:center; background-color:#808080; padding:10px; border-radius:5px;">
    <h2 style="color:#FFF;">Merging</h2>
</div>

In [22]:
content.columns

Index(['Content ID', 'Type', 'Category'], dtype='object')

In [23]:
reactions.columns

Index(['Content ID', 'Type', 'Datetime'], dtype='object')

In [24]:
reaction_type.columns

Index(['Type', 'Sentiment', 'Score'], dtype='object')

- Before merging we need to rename columns in the dataframes to avoid ambiguity due to same names.

In [25]:
content.rename(columns={'Type':'Content Type'}, inplace=True)
reactions.rename(columns={'Type':'Reaction Type'}, inplace=True)
reaction_type.rename(columns={'Type':'Reaction Type'}, inplace=True)

In [26]:
merged = reactions.merge(content, on='Content ID', how='left').merge(reaction_type, on='Reaction Type', how='left')

In [27]:
merged.head()

,Content ID,Reaction Type,Datetime,Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,Studying,negative,10
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,Studying,negative,15
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying,negative,0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,Studying,positive,30

In [28]:
merged.dtypes

Content ID       object
Reaction Type    object
Datetime         object
Content Type     object
Category         object
Sentiment        object
Score             int64
dtype: object

- Let us change the datatype of `Datetime` column, also, we can extract some of the features from this particular column

In [29]:
merged['Datetime'] = merged['Datetime'].astype('datetime64[ns]')    # Changing datatype to datetime

- Let us extract `year`, `Month Name`, `Day of month`, `Weekday`, `Weekend (Y/N)`, `hour of day` from `Datetime`column.

In [30]:
merged['Year'] = merged['Datetime'].dt.year      # Extracting year
merged['Month'] = merged['Datetime'].dt.month_name()    # Extracting month name
merged['Day of Month'] = merged['Datetime'].dt.day      # day number of month
merged['Day of Week'] = merged['Datetime'].dt.day_name()     # Name of day of week
merged['Hour of day'] = merged['Datetime'].dt.hour       # hour component 0-23

merged['Weekend (Y/N)'] = np.where(merged['Day of Week'].isin(['Saturday', 'Sunday']), 'Y', 'N')      # Is weekend or not

# Define the bins and labels for categorization for time of day
bins = [-1, 5, 11, 17, 23]  # Bins for morning, afternoon, evening, and night
labels = ["Night", "Morning", "Afternoon", "Evening"]

# Create a new column with the categorized values
merged['Time of day'] = pd.cut(merged['Hour of day'], bins=bins, labels=labels, right=True)

In [31]:
merged.head()

,Content ID,Reaction Type,Datetime,Content Type,Category,Sentiment,Score,Year,Month,Day of Month,Day of Week,Hour of day,Weekend (Y/N),Time of day
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying,negative,0,2020,November,7,Saturday,9,Y,Morning
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,Studying,negative,10,2021,June,17,Thursday,12,N,Afternoon
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,Studying,negative,15,2021,April,18,Sunday,5,Y,Night
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying,negative,0,2021,January,6,Wednesday,19,N,Evening
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,Studying,positive,30,2020,August,23,Sunday,12,Y,Afternoon

In [36]:
#merged.to_csv('cleaned_merged_data.csv', index=False)    # Saving the CSV file